.Login{
    /* background-color: rgb(75, 75, 75); */
    flex: 1;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background: linear-gradient(to bottom right, black, purple,black, purple); */
    background: linear-gradient(to bottom right, black, rgb(0, 105, 0),black, rgb(0, 105, 0));
	background-size: 400% 400%;
	animation: gradientLogin 3s ease forwards;

    & .LoginArea{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;

        width: 500px;
        height: 400px;
        background: rgba(255, 255, 255, 0.2); /* Fundo semi-transparente */
        backdrop-filter: blur(10px); /* Aplica o efeito de desfoque */
        border-radius: 14px;

        & .DivLoginAndRegister{
            margin: 10px 10px 0px 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            & div {
                display: flex;
                justify-content: center; /* Centraliza horizontalmente */
                flex: 1;
                text-align: center; /* Centraliza horizontalmente */
                cursor: pointer;
            }

            & div:nth-child(1) {
                border-radius: 10px 0px 0px 0px; 
            }

            & div:nth-child(3) {
                border-radius: 0px 10px 0px 0px; 
            }

            & div:hover {
                background-color: rgba(245, 245, 245, 0.13);
                transition: background-color 1.5s ease; 
            }

            & .activeLogin {
                background-color: rgba(218, 218, 218, 0.15);
                transition: background-color 1.5s ease; 
            }

            & .activeRegister {
                background-color: rgba(218, 218, 218, 0.15);
                transition: background-color 1.5s ease; 
            }

            & h1 {
                flex: 1;
            }
            & hr {
                margin: 0px;
            }
        }

        & input {
            background-color: rgba(245, 245, 245, 0.397);
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: larger;
            border-radius: 12px;
            
            border: none;         /* Remove a borda */
            outline: none;        /* Remove o contorno ao focar no input */
            padding: 8px 12px;  /* Adiciona espaçamento ao redor do texto */
        }

        & label {
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: x-large;
        }

        & .DivButton {
            display: flex;
        } 

        & button {
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: larger;
            
            flex: 1;
            background-color: rgba(0, 128, 0, 0.527);
            height: 100px;
            border-radius: 16px;
            margin: 20px;
            border: rgba(0, 0, 0, 0.178) solid;
            cursor: pointer;
            transition: background-color 1s ease;
        }

        & button:hover {
            transition: background-color 1s ease;
            background-color: rgba(0, 155, 0, 0.863);
        }

        & .DivUsername{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px 25px;
            align-items: center;
        }

        & .DivPassword{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px 25px;
            align-items: center;
        }

        & .AreaSenhaView {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            & .ViewPassword {
                position: absolute;
                cursor: pointer;
                right: 5%;
                top: 20%;
            }
        }
    }

}


/* A animação acontece ao clicar */
.Login.register {
    animation: gradientRegister 3s ease forwards;
}

@keyframes gradientRegister {
    0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 55% 55%;
	}
}

@keyframes gradientLogin {
    0% {
		background-position: 55% 55%;
	}
	100% {
		background-position: 0% 0%;
	}
}
